<!DOCTYPE html>
<html>
  <head>
    <title>BoulderBikeRace</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet" />

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= yield :page_specific_js %>
  </head>

  <body>
  <header>
    <h1 class="site-heading text-center text-faded d-none d-lg-block">
      <span class="site-heading-upper mb-3">Racing Through the Rockiess</span>
      <span class="site-heading-lower">Boulder bike race</span>
    </h1>
  </header>
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
    <div class="container">
      <a class="navbar-brand text-uppercase fw-bold d-lg-none" href="index.html">Boulder bike race</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item px-lg-4"><%= link_to "Home", root_path, class: "nav-link text-uppercase" %></li>
          <li class="nav-item px-lg-4"><%= link_to "Photos", photos_path, class: "nav-link text-uppercase" %></li>
          <li class="nav-item px-lg-4"><%= link_to "Location", locations_path, class: "nav-link text-uppercase" %></li>
          <li class="nav-item px-lg-4"><%= link_to "Riders", riders_path, class: "nav-link text-uppercase" %></li>
          <li class="nav-item px-lg-4"><%= link_to "Contest", contests_path, class: "nav-link text-uppercase" %></li>
        </ul>
      </div>
    </div>
  </nav>
    <%= yield %>
  </body>
  <footer class="footer text-faded text-center py-5">
    <div class="container"><p class="m-0 small">Copyright &copy; Michele Rusticucci 2023</p></div>
  </footer>
</html>
